In [473]:
import pandas as pd
import requests
import re # for regex
from datetime import datetime

# Load

Fetch all rows from a data.gov.sg dataset via the v2 API.

Args:
- datasetid (str): Dataset ID from data.gov.sg (e.g. 'd_acde1106003906a75c3fa052592f2fcb')
- api_key (str): Your developer API key
- limit (int): Max rows per request (default=10000, API limit)
    
Returns:
- pd.DataFrame: DataFrame containing all rows

Note: Since this dataset has ~18000 rows, using limit=10000 we will let the pagination loop fetch in 2 calls

In [474]:
datasetid = "d_acde1106003906a75c3fa052592f2fcb"
api_key = "v2:a8aef9004f691fb36ad4bc60c8782306e05322cef5470508fbf3cdc0141fb5ee:jl-zKL_msEsPmgra7wNpw_2CKo9w3d_s"

In [475]:
def fetch_dataset(datasetid, api_key, limit=10000):
    url = f"https://api-production.data.gov.sg/v2/public/api/datasets/{datasetid}/list-rows"
    headers = {"x-api-key": api_key}
    
    all_rows = []
    offset = 0
    
    while True:
        params = {"limit": limit, "offset": offset}
        response = requests.get(url, headers=headers, params=params)
        
        if response.status_code != 200:
            print(f"Error: {response.status_code}, {response.text}")
            break
        
        json_data = response.json()
        rows = json_data["data"]["rows"]
        
        if not rows:  # stop if no more data
            break
        
        # Extract inner row dicts
        records = [r.get("row", r) for r in rows]
        all_rows.extend(records)
        
        print(f"Fetched {len(records)} rows (offset={offset})")
        
        # Prepare for next batch
        offset += limit
    
    return pd.DataFrame(all_rows)


df = fetch_dataset(datasetid, api_key)
print("Total rows fetched:", len(df))
print("Columns:", df.columns.tolist())
print(df.head())

Fetched 10000 rows (offset=0)
Fetched 8021 rows (offset=10000)
Total rows fetched: 18021
Columns: ['vault_id', 'tender_no', 'tender_description', 'agency', 'award_date', 'tender_detail_status', 'supplier_name', 'awarded_amt']
  vault_id          tender_no  \
0        1  ACR000ETT20300002
1        2  ACR000ETT20300002
2        3  ACR000ETT20300003
3        4  ACR000ETT20300004
4        5  ACR000ETT21000001

                                  tender_description  \
0  INVITATION TO TENDER FOR THE PROVISION OF SERV...
1  INVITATION TO TENDER FOR THE PROVISION OF SERV...
2  PROVISION OF AN IT SECURITY CONTROLS AND OPERA...
3  CONCEPTUALIZATION, DESIGN, BUILD, SET-UP OF NE...
4  DESIGN, DEVELOPMENT, CUSTOMIZATION, DELIVERY, ...

                                          agency  award_date  \
0  Accounting And Corporate Regulatory Authority  10/11/2020
1  Accounting And Corporate Regulatory Authority  10/11/2020
2  Accounting And Corporate Regulatory Authority   9/12/2020
3  Accounting And Corporate Regulatory Authority    9/3/2021
4  Accounting And Corporate Regulatory Authority    6/9/2021

   tender_detail_status                                      supplier_name  \
0      Awarded by Items  DELOITTE & TOUCHE ENTERPRISE RISK SERVICES PTE...
1      Awarded by Items                            KPMG SERVICES PTE. LTD.
2  Awarded to Suppliers                   ERNST & YOUNG ADVISORY PTE. LTD.
3  Awarded to Suppliers                  D' PERCEPTION SINGAPORE PTE. LTD.
4  Awarded to Suppliers                              ALPHA ZETTA PTE. LTD.

  awarded_amt
0      285000
1       90000
2      182400
3   3071056.4
4     2321600

In [476]:
df.shape #how big the dataset is - 18021 rows, 7 columns

(18021, 8)

In [477]:
df.info() # get summary of DataFrame, including data types. alternative way: using `df.dtypes`

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18021 entries, 0 to 18020
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vault_id              18021 non-null  object
 1   tender_no             18021 non-null  object
 2   tender_description    18021 non-null  object
 3   agency                18021 non-null  object
 4   award_date            18021 non-null  object
 5   tender_detail_status  18021 non-null  object
 6   supplier_name         18021 non-null  object
 7   awarded_amt           18021 non-null  object
dtypes: object(8)
memory usage: 1.1+ MB

In [478]:
df.head(3) #first 3 rows

,vault_id,tender_no,tender_description,agency,award_date,tender_detail_status,supplier_name,awarded_amt
0,1,ACR000ETT20300002,INVITATION TO TENDER FOR THE PROVISION OF SERV...,Accounting And Corporate Regulatory Authority,10/11/2020,Awarded by Items,DELOITTE & TOUCHE ENTERPRISE RISK SERVICES PTE...,285000
1,2,ACR000ETT20300002,INVITATION TO TENDER FOR THE PROVISION OF SERV...,Accounting And Corporate Regulatory Authority,10/11/2020,Awarded by Items,KPMG SERVICES PTE. LTD.,90000
2,3,ACR000ETT20300003,PROVISION OF AN IT SECURITY CONTROLS AND OPERA...,Accounting And Corporate Regulatory Authority,9/12/2020,Awarded to Suppliers,ERNST & YOUNG ADVISORY PTE. LTD.,182400

# Transform

In [479]:
# check if the file already has missing values before any transformations
print("Checking for empty values before cleaning:\n", df.isna().sum())

Checking for empty values before cleaning:
 vault_id                0
tender_no               0
tender_description      0
agency                  0
award_date              0
tender_detail_status    0
supplier_name           0
awarded_amt             0
dtype: int64

## 1) `tender_no` column

- Alphanumeric ID
- `tender_no` is NOT UNIQUE. Same tenders shows up on multiple rows as a tender may be split across **multiple** suppliers. 
- A tender amy also have multiple line items (e.g. laptops, printers, services). 
- A tender may even have some items awarded or not. There's one tender with `FINVITETT20300009` tendor ID  which appears 131 times in the dataset.
- Transformation(s)
    - Strip whitespace

In [480]:
df['tender_no_clean'] = df['tender_no'].str.strip() #strip whitespace

In [481]:
# tender IDs are not unique. Use .nunique() to tell us how many UNIQUE tender IDs there are over the past years. Not sure why 9 only? IMPORTANT
print(df['tender_no_clean'].nunique())   # ✅ 11915 as of 18 Aug 25

11915

## 2) `tender_description`

- Long-text with varied casing (e.g. some descriptions are in ALL CAPS while some are Mixed Case)
- Transformation(s)
    - Strip whitespace
    - Convert to lowercase (for future enhancements - text classification)

In [482]:
df['tender_description_clean'] = df['tender_description'].str.strip().str.lower()
print("Sample tender_description:\n", df['tender_description_clean'].sample(4))

Sample tender_description:
 15703    design, build and management for untame onsite...
13596    north east community development council (necd...
7637     itt for provision of maintenance services for ...
669      invitation to tender for the provision of msf ...
Name: tender_description_clean, dtype: object

## 3) `agency`

- Values are mixed casing but consistent. E.g. `Ministry of Education`, `Attorney-General's Chambers`.
    - Did not convert to uppercase as you'll lose readability. 
- For easier querying in DB by analysts, map it to a controlled vocabulary of "shortform" names for respective agencies. E.g. `Ministry of Education` -> `MOE`
- **Transformation(s)**
    - Trim whitespace, keep title case
    - **Challenges:**
        - Singapore has dozens of staturatory boards, ministries, councils, etc.
            - Core Ministries (MOE, MOH, MINDEF, etc)
            - Statutory Boards (ACRA, BCA, LTD, HDB, etc)
        - Formatting differences: `Ministry of Education - Schools` vs `Ministry of Education`, `Supreme Court - State Courts` vs `Supreme Court of Singapore`
        - Some procuring entity is often listed as the sub-unit of a ministry. E.g. Instead of `Ministry of Education`, tender listed as `Temasek Polytechnic`. This means schools (or even polytechnics, junior colleges, statutory boards) procure directly, but they are still under MOE's umbrella. So the `agency` column is not just ministries/stat boards — it sometimes includes schools, IHLs, or specific institutions.
        - Options
            - **1) Leave as-is**
                - Pros: Preserves raw truth, most accurate
                - Cons: Have 100s of unique agencies (MOE schools, hospitals, etc) making aggregation harder for analysts down the ro
            - **2) Group under parent agency**
                - E.g. Map all schools/tertiary education back to "Ministry of Education". Map all hospitals to "Ministry of Health"
                - Pros:
                    - Cleaner analysis at ministry/stat board level
                - Cons:
                    - Lose granularity (can't see which specific school procured)
            - **Decision**

In [591]:
# Keeping a permanent copy of the original
if 'agency_raw' not in df.columns:   # only create once!
    df['agency_raw'] = df['agency']

In [634]:
# 1. Remove any leading/trailing spaces (if any)
leading_trailing = (df['agency_raw'] != df['agency_raw'].str.strip()).sum()

# 2. Collapse double spaces (if any)
double_spaces = df['agency_raw'].str.contains(r"\s{2,}", regex=True).sum()

print("\nWhitespace issues:")
print(" Leading/trailing spaces:", leading_trailing)
print(" Double spaces inside:", double_spaces)

Whitespace issues:
 Leading/trailing spaces: 32
 Double spaces inside: 358

In [635]:
# 3. Dash inconsistencies
with_space = df['agency_raw'].str.contains(" - ", regex=False).sum()
without_space = df['agency_raw'].str.contains(r"[^ ]-[^ ]", regex=True).sum()
print("Rows with ' - ' (with space):", with_space)
print("Rows with '-' (no space):", without_space)

Rows with ' - ' (with space): 1981
Rows with '-' (no space): 1294

In [636]:
#4. Bracketed aliases
aliases = df[df['agency_raw'].str.contains(r"\(.*\)", na=False)]['agency'].unique()
print("\nAgencies with aliases/brackets:")
for a in aliases:
    print("  ", a)

Agencies with aliases/brackets:
   Competition and Consumer Commission of Singapore (CCCS)
   Gambling Regulatory Authority of Singapore (GRA)
   Government Technology Agency  (GovTech)
   Anglo-Chinese School (Independent)
   Methodist Girls' School (Secondary)
   Raffles Girls' School (Secondary)
   Singapore Sports Council (Sport Singapore) - SPC
   Singapore Sports Council (Sport Singapore)

In [637]:
# 5. Ministry Headquarter suffix 
hq = df[df['agency'].str.contains("Ministry Headquarter", na=False)]['agency'].unique()
print("\nAgencies with 'Ministry Headquarter' suffix:")
for a in hq:
    print("  ", a)

Agencies with 'Ministry Headquarter' suffix:
   Ministry of Culture, Community and Youth - Ministry Headquarter
   Ministry of Social and Family Development - Ministry Headquarter
   Ministry of Transport - Ministry Headquarter
   Ministry of Finance-Ministry Headquarter
   Ministry of Health-Ministry Headquarter
   Ministry of Home Affairs-Ministry Headquarter
   Ministry of Law-Ministry Headquarter
   Ministry of Home Affairs - Ministry Headquarter 1
   Ministry of Manpower-Ministry Headquarter
   Ministry of National Development-Ministry Headquarter
   Prime Minister's Office-Ministry Headquarter
   Ministry of Trade & Industry-Ministry Headquarter

In [638]:
# 6. Overall unique values
print("\nUnique agencies before cleaning:", df['agency'].nunique())

Unique agencies before cleaning: 111

In [639]:
# Apply transformations step by step into new column

In [658]:
# 1) Base cleaning - strip, normalize spaces, apostrophes, dash spacing, unnecessary trailing text
df['agency_clean'] = (
       df['agency_raw']
      .str.strip()                                       # remove leading/trailing
      .str.replace('\u00A0', ' ', regex=False)        # normalize non-breaking space
      .str.replace('\u2011', '-', regex=False)        # NEW: normalize non-breaking hyphen
      .str.replace(r'[\u2010\u2012\u2013\u2014\u2015\u2212-]', '-', regex=True)  # keep your existing normalizer
      .str.replace(r'\s*-\s*', ' - ', regex=True)        # cont: this will catch all (already unified) hyphens
      .str.replace("’", "'", regex=False)                # curly apostrophe → straight
      .str.replace(r'\s*(?:-\s*)?(?:\((?:MDA|CCCS|GRA|SPC)\)|(?:MDA|CCCS|GRA|SPC))\s*$', '', regex=True)
      .str.replace(r', Singapore$', '', regex=True)      # remove trailing ", Singapore"
      .str.replace(r'\s*\((GovTech)\)', '', regex=True)  # remove GovTech alias
      .str.replace(r'\s{2,}', ' ', regex=True)           # collapse multiple spaces (do this near the end)
      .str.strip()                                       # final cleanup# final cleanup
)

In [657]:
# 2) Replace rows with Singapore Sports Council as agency name with new brand name Sport Singapore for standardization 

# Find unique rows related to Sports
# df[df['agency_clean'].str.contains("Sports", case=False, na=False)][['agency_raw', 'agency_clean']].drop_duplicates()

# Show rows with old name
df[df['agency_clean'].str.contains("Singapore Sports Council", case=False, na=False)][['agency_raw', 'agency_clean']].drop_duplicates()

,agency_raw,agency_clean
16411,Singapore Sports Council (Sport Singapore) - SPC,Singapore Sports Council (Sport Singapore)
16742,Singapore Sports Council (Sport Singapore),Singapore Sports Council (Sport Singapore)

In [642]:
# Replace Singapore Sports Council with Sport Singapore - new name since 2014
df['agency_clean'] = df['agency_raw'].replace(
    {r'^Singapore Sports Council.*$': 'Sport Singapore'},
    regex=True
)

In [643]:
# Should be empty
# df[df['agency_clean'].str.contains("Singapore Sports Council", case=False, na=False)][['agency_raw', 'agency_clean']].drop_duplicates()

In [644]:
# Check new value updated
df[df['agency_clean'].str.contains("Sport Singapore", case=False, na=False)][['agency_raw', 'agency_clean']].drop_duplicates()

                                             agency_raw     agency_clean
16411  Singapore Sports Council (Sport Singapore) - SPC  Sport Singapore
16742        Singapore Sports Council (Sport Singapore)  Sport Singapore

In [660]:
# Default values
df['agency_parent'] = df['agency_clean']
df['agency_child'] = None

In [661]:
#print(df[df['agency_clean'].str.contains(r'[^ ]-[^ ]', regex=True)][['agency_clean']].drop_duplicates())

In [662]:
# Step 1: Default values
df['agency_parent'] = df['agency_clean']
df['agency_child'] = None

# Outlier partial match patterns (do not split these even if they contain dash)
outlier_patterns = [
    "ISEAS - Yusof Ishak Institute",
    "Info - communications Media Development Authority",
    "Anglo - Chinese School"
]

# Escape dashes to safely compile regex
outlier_regex = "|".join([re.escape(p) for p in outlier_patterns])

# Default assignments
df['agency_parent'] = df['agency_clean']
df['agency_child'] = None

# Split on dash unless it matches an exception pattern
split_mask = (
    df['agency_clean'].str.contains(r'\s*-\s*', regex=True, na=False) &
    ~df['agency_clean'].str.contains(outlier_regex, case=False, na=False)
)
split_df = df.loc[split_mask, 'agency_clean'].str.split(r'\s*-\s*', n=1, expand=True, regex=True)

df.loc[split_mask, 'agency_parent'] = split_df[0]
df.loc[split_mask, 'agency_child'] = split_df[1]

In [663]:
# 1) No more compact dashes like A-B
print("Compact hyphens remaining:",
      df['agency_clean'].str.contains(r'[^ ]-[^ ]', regex=True, na=False).sum())

# 2) Examples that should now split
print(
    df[df['agency_clean'].str.contains(r"Prime Minister's Office - ", na=False)]
      [['agency_clean','agency_parent','agency_child']]
      .drop_duplicates()
      .head(3).to_string(index=False)
)

# 3) Outliers are not split
print(
    df[df['agency_clean'].str.contains(outlier_regex, case=False, na=False)]
      [['agency_clean','agency_parent','agency_child']]
      .drop_duplicates()
      .head(5).to_string(index=False)
)

Compact hyphens remaining: 0
                                                    agency_clean           agency_parent                           agency_child
Prime Minister's Office - Corrupt Practices Investigation Bureau Prime Minister's Office Corrupt Practices Investigation Bureau
                  Prime Minister's Office - Elections Department Prime Minister's Office                   Elections Department
                  Prime Minister's Office - Ministry Headquarter Prime Minister's Office                   Ministry Headquarter
                                     agency_clean                                     agency_parent agency_child
Info - communications Media Development Authority Info - communications Media Development Authority         None
             Anglo - Chinese School (Independent)              Anglo - Chinese School (Independent)         None
                    ISEAS - Yusof Ishak Institute                     ISEAS - Yusof Ishak Institute         None

In [664]:
# Rows with unsplit dash
unsplit_dash = df[
    df['agency_clean'].str.contains(r'[^ ]-[^ ]', regex=True) &
    (df['agency_child'].isna())
]

print("❌ Rows where dash might not have been split (still compact):")
print(
    unsplit_dash[['agency_clean', 'agency_parent', 'agency_child']]
    .drop_duplicates()
    .to_string(index=False)
)

❌ Rows where dash might not have been split (still compact):
Empty DataFrame
Columns: [agency_clean, agency_parent, agency_child]
Index: []

In [665]:
# Check outliers were not split
print("Outliers that should not be split:")
print(
    df[df['agency_clean'].isin(outlier_patterns)]
      [['agency_clean', 'agency_parent', 'agency_child']]
      .drop_duplicates()
      .to_string(index=False)
)

Outliers that should not be split:
                                     agency_clean                                     agency_parent agency_child
Info - communications Media Development Authority Info - communications Media Development Authority         None
                    ISEAS - Yusof Ishak Institute                     ISEAS - Yusof Ishak Institute         None

In [666]:
# Inspecting differences
agency_check = df[['agency_raw','agency_clean','agency_parent','agency_child']].drop_duplicates()

print("\nUnique agencies before cleaning:", df['agency_raw'].nunique())
print("Unique agencies after cleaning:", df['agency_clean'].nunique())

Unique agencies before cleaning: 111
Unique agencies after cleaning: 109

In [667]:
# Quick check - Show examples of rows that actually changed
changed = agency_check[agency_check['agency_raw'] != agency_check['agency_clean']]
# print("\nExamples of changed agencies:")
# print(changed.sample(5).to_string(index=False))

In [671]:
# ========= EXTENDED CHECK (for debugging, comment code below when not needed) ==============
# Purpose: Exporting agency-related columns with diagnostic flags to an excel sheet for manual review 

# Add "changed" flag (so you can sort easily)
agency_check['changed'] = agency_check['agency_raw'] != agency_check['agency_clean']

# Sort by changed first (changed=True rows appear at the top)
agency_check = agency_check.sort_values(by="changed", ascending=False)

# Adding diagnostics flags that help you see what was fixed
agency_check['had_double_spaces'] = agency_check['agency_raw'].str.contains(r"\s{2,}", regex=True)
agency_check['had_dash'] = agency_check['agency_raw'].str.contains(r'[^ ]-[^ ]', regex=True)
agency_check['was_exception'] = agency_check['agency_clean'].str.contains(outlier_regex, case=False, regex=True) #outlier names
agency_check['was_split'] = (
    agency_check['agency_child'].notna() &
    ~agency_check['was_exception']
)
# Exporting agency-related columns to a CSV for manual review
agency_check.to_csv("agency_clean_check.csv", index=False, encoding="utf-8-sig")
print("Exported agency_raw vs agency_clean to agency_clean_check.csv")

Exported agency_raw vs agency_clean to agency_clean_check.csv

## 4) award_date

- Currently, `award_date` is in `dd/mm/yyyy` or `d/m/yyyy` formats
- Transformation(s):
    - Convert to `datetime`.
        - There’s no separate `date` dtype that works nicely with vectorized operations.
        - Even if your data only has dates (no times), Pandas stores it as datetime because its `datetime64` is the standard for date-like data.
        - You could technically convert to Python’s datetime.date, but then your column becomes object dtype (slower, clunkier, not recommended).
        - Any invalid/missing dates will become `NaT`
- Note: In SQLAlchemy load step, map it to `DATE`.

In [ ]:
# dayfirst = True because dates are in dd/mm/yyyy format. with errors='coerce', if pandas sees an invalid date, it will set it as NaT (Not a Time) 
df['award_date'] = pd.to_datetime(df['award_date'], dayfirst=True, errors='coerce')
# confirming that it's now datetime64, not object (string)
print("Award date dtype:", df['award_date'].dtype)

## 5) `tender_detail_status`

**Has 4 different statuses:**
- `Awarded to Suppliers` - Supplier was chosen and amount is recorded.
- `Awarded by Items` - Instead of one supplier getting the whole thing, individual line items were awarded to different suppliers. 
- `Awarded to No Suppliers` - Tender closed but nobody was awarded. Hence corresponding column `awarded_amt = 0`
- `Award by Interface` - System generated status. Usually means the award details were inserted by an automated interface instead of manual entry. Functionally, it's still an award.

**Status phrasing is inconsistent.**
- `Awarded by items` vs `Awarded to Suppliers` mix `"by"` vs `"to"`
- `Award by interface record` does not follow the same tense/grammar pattern like the other statuses.
- if we want to run `SELECT COUNT(*) WHERE tender_detail_status LIKE `Awarded%`, we will miss `Award by interface record`. The subtle difference makes grouping harder.

- Ideally we want **categorical columns** to be standardized into a controlled vocabulary (e.g. enum or lookup table) Why?
    - Consistency across rows
    - Easier to group/aggregate in SQL
    - Makes schema design more meaningful (e.g. a dimension table for tender status could have 4 values).


- **Transformation(s):**
    - Step 1 - Trim whitespace
    - Step 2 - Map to a controlled vocabulary for easier querying in DB (e.g. `"AWARDED_ITEMS"`, `"AWARDED_SUPPLIERS"`)

In [ ]:
df['tender_detail_status'] = df['tender_detail_status'].str.strip() #strip whitespace

In [ ]:
# Create a dictionary to raw text into clean categories
status_map = {
    "Award by interface record": "AWARDED_INTERFACE",
    "Awarded by Items": "AWARDED_ITEMS",
    "Awarded to No Suppliers": "NO_SUPPLIERS",
    "Awarded to Suppliers": "AWARDED_SUPPLIERS"
}

In [ ]:
# Create a new column with the clean values
df['tender_detail_status_clean'] = df['tender_detail_status'].map(status_map)

In [ ]:
# Check distribution of statuses after cleaning
print("Tender detail status counts:\n", df['tender_detail_status_clean'].value_counts())

In [ ]:
# TEST - Tender status consistency check. 
unexpected_status = df.loc[~df['tender_detail_status'].isin(status_map.keys())]
# empty dataframe as dataset only has 4 statuses we already mapped. 
# While there are no surprise values in this dataset, it's just a safeguard for future updates.
# E.g. imagine a new status "Cancelled" appears. this check will flag it
print(unexpected_status)

## 6) `supplier_name`

- Supplier names are inconsistent. Messy casing & suffixes due to different capitalization style.
    - E.g. `KPMG SERVICES PTE. LTD`, `CRIMSONLOGIC PTE LTD`, `Checkbox Technology Pte Ltd`
- If we don’t standardize, queries like "GROUP BY supplier" will count them separately.
- Important as we want to avoid duplicates in SQL when grouping by supplier

- **Transformations:**
    - Strip whitespace
    - Identify rows with double spaces. Why?
        - If you do a `GROUP BY supplier_name` in SQL, `BGPROTECT  LTD` and `BGPROTECT LTD` will be treated as two different suppliers.
    - Normalize suffixes (e.g. `PTE LTD, PTE. LTD -> PTE LTD)
    - Remove trailing periods
    - When there are no supplier for a given tender, set supplier

In [679]:
# 1) Remove leading/trailing spaces make everything uppercase for consistency
df['supplier_name'] = df['supplier_name'].str.strip()

In [680]:
# 2) Collapse double/triple spaces 

# Identify rows with double spaces in supplier_name column values
mask = df['supplier_name'].str.contains(r'\s{2,}', na=False) #2 or more double spaces, na=False ignore NaN values if any
df[mask].head(10)
print("Rows with double spaces:", mask.sum()) #if 0, means it's clean. otherwise, it means we have supplier names with double spaces

Rows with double spaces: 6

In [681]:
# show distinct supplier names that have double spaces 
df.loc[mask, 'supplier_name'].unique()

array(['BGPROTECT  LTD',
       'TAISEI CORPORATION-CHINA STATE CONSTRUCTION  ENGINEERING CORPORATION LIMITED SINGAPORE BRANCH JOINT VENTURE',
       'SUEZ (SINGAPORE) SERVICES  PTE. LTD.', 'KASTURI  PRODUCTION',
       'CHEMICALS TESTING & CALIBRATION  LABORATORY',
       'WINNIE MANIKAM  KRISHNAVENI MRS WINNIE UBBINK'], dtype=object)

In [682]:
# ensure supplier names are normalized. so no duplicates due to space issues
df['supplier_name'] = df['supplier_name'].str.replace(r'\s+', ' ', regex=True) 
print("Rows with double spaces:", mask.sum()) #if 0, means it's clean.

Rows with double spaces: 6

In [683]:
# 3) Standardize PTE LTD variants. 
# Note: Not ideal to strip PTE LTD as we would risk collisions. E.g. ABC PTE LTD (company) vs ABC LLP (partnership) run by diff owners

# Normalizing common suffixes using regex (pattern matching)
df['supplier_name'] = df['supplier_name'].str.replace(r'PTE\.?', 'PTE', regex=True)
df['supplier_name'] = df['supplier_name'].str.replace(r'LTD\.?', 'LTD', regex=True)

# Handling rare 'PTE LIMITED' 
df['supplier_name'] = df['supplier_name'].str.replace(r'PTE LIMITED', 'PTE LTD', regex=True)

In [684]:
# Remove trailing periods. Some suppliers end with a dot
df['supplier_name'] = df['supplier_name'].str.replace(r'\.\s*$', '', regex=True)

In [685]:
# Add upper  case for consistency in SQL group buys
df['supplier_name'] = df['supplier_name'].str.upper()

In [709]:
# If award_amt = 0, supplier_name = "Unknown", set supplier_name to NULL in PostgreSQL

In [710]:
print("Sample suppliers:\n", df['supplier_name'].drop_duplicates().sample(10)) #to check if cleaning works as expected

Sample suppliers:
 8508                         ELITE LINGUISTIC ACADEMY LLP
16540                    YAMAZAKI MAZAK SINGAPORE PTE LTD
15459                                  GM APPAREL PTE LTD
451                              FLEISHMANHILLARD PTE LTD
1193                                 THE PESTMAN, PTE LTD
7021                                    GYMSPORTZ PTE LTD
5472     ABBOTT LABORATORIES (SINGAPORE ) PRIVATE LIMITED
8754                                    E3 DESIGN PTE LTD
5684         HITACHI SYSTEMS NETWORK TECHNOLOGIES PTE LTD
16516                             EXILE SOLUTIONS PTE LTD
Name: supplier_name, dtype: object

## 7) `awarded_amt` column

- No currency symbol cleanup is needed
- Ensure the award amount is numeric.
- If tender was closed with no suppliers, this column should be 0.
- **Transformation(s):**
    - Convert to numeric explicitly
    - Enforce rule: if status == `No Suppliers`, check awarded_amt = 0

In [ ]:
# Convert to numeric, force errors to NaN (null).
df['awarded_amt'] = pd.to_numeric(df['awarded_amt'], errors='coerce')

In [ ]:
# Business rule check - "No Suppliers" tenders should ALWAYS HAVE awarded_amt = 0
mask_no_suppliers = df['tender_detail_status_clean'] == "NO_SUPPLIERS"
if not (df.loc[mask_no_suppliers, 'awarded_amt'] == 0).all():
    print("WARNING: Some NO_SUPPLIERS tenders have non-zero awarded_amt")

In [ ]:
# Using describe() to give us min, max, mean, percentiles. Good for spotting outliers.
print("Awarded_amt stats:\n", df['awarded_amt'].describe())

In [ ]:
# For outlier sanity check experiment

In [ ]:
# 1) look for abnormal spikes by percentiles
df['awarded_amt'].describe(percentiles=[.5, .9, .99])

In [ ]:
# 2) Check for negative amounts
print("Negative amounts:", df[df['awarded_amt'] < 0]) #should be empty anyway.

In [ ]:
# 3) Check for suspiciously large/extreme amounts (e.g. > 1 billion SGD)
high_values = df[df['awarded_amt'] > 1e9]
print("Suspiciously large amounts:", high_values)

In [694]:
# Check for Nan/Nulls explicitly. Why? After .to_datetime() and .to_numeric(), some rows may have become NaT or NaN.
print("Checking for null values after cleaning:\n", df.isna().sum())

Checking for null values after cleaning:
 vault_id                        0
tender_no                       0
tender_description              0
agency                          0
award_date                      0
tender_detail_status            0
supplier_name                   0
awarded_amt                     0
tender_no_clean                 0
tender_description_clean        0
agency_raw                      0
agency_clean                    0
agency_parent                   0
agency_child                15294
supplier_name_clean             0
is_awarded                      0
dtype: int64

# Load

- Primary Key
    - Since `tender_no` is not unique, we can either have a composite key (e.g. tender_no, supplier_name) or surrogate key `id` before loading. Surrogate key seems more futureproof.
    - E.g. Of making a surrogate key - `id BIGSERIAL PRIMARY KEY`

- Use PostgreSQL

# Reference

In [693]:
# old
agency_map = {
    # Ministries
    "Ministry Of Defence": "MINDEF",
    "Ministry Of Education": "MOE",
    "Ministry Of Finance": "MOF",
    "Ministry Of Foreign Affairs": "MFA",
    "Ministry Of Health": "MOH",
    "Ministry Of Home Affairs": "MHA",
    "Ministry Of Manpower": "MOM",
    "Ministry Of National Development": "MND",
    "Ministry Of Social And Family Development": "MSF",
    "Ministry Of Sustainability And The Environment": "MSE",
    "Ministry Of Trade & Industry": "MTI",
    "Ministry Of Transport": "MOT",
    "Ministry Of Communications And Information": "MCI",

    # Statutory board
    "Accounting And Corporate Regulatory Authority": "ACRA",
    "Building And Construction Authority": "BCA",
    "Board Of Architects": "BOA",
    "Civil Aviation Authority Of Singapore": "CAAS",
    "Competition And Consumer Commission Of Singapore (Cccs)": "CCCS",
    "Council For Estate Agencies": "CEA",
    "Defence Science And Technology Agency": "DSTA",
    "Economic Development Board": "EDB",
    "Energy Market Authority Of Singapore": "EMA",
    "Enterprise Singapore": "ESG",
    "Gambling Regulatory Authority Of Singapore (Gra)": "GRA",
    "Health Promotion Board": "HPB",
    "Health Sciences Authority": "HSA",
    "Home Team Science And Technology Agency": "HTX",
    "Housing And Development Board": "HDB",
    "Infocomm Media Development Authority": "IMDA",
    "Inland Revenue Authority Of Singapore": "IRAS",
    "Intellectual Property Office Of Singapore": "IPOS",
    "Jurong Town Corporation": "JTC",
    "Land Transport Authority": "LTA",
    "Majlis Ugama Islam Singapura": "MUIS",
    "Maritime And Port Authority Of Singapore": "MPA",
    "National Environment Agency": "NEA",
    "National Heritage Board": "NHB",
    "National Library Board": "NLB",
    "National Parks Board": "NPARKS",
    "People'S Association": "PA",
    "Professional Engineers Board": "PEB",
    "Public Utilities Board": "PUB",
    "Public Transport Council": "PTC",
    "Sentosa Development Corporation": "SDC",
    "Singapore Civil Defence Force": "SCDF",
    "Singapore Examinations And Assessment Board": "SEAB",
    "Singapore Food Agency": "SFA",
    "Singapore Land Authority": "SLA",
    "Singapore Labour Foundation": "SLF",
    "Singapore Medical Council": "SMC",
    "Singapore Nursing Board": "SNB",
    "Singapore Police Force": "SPF",
    "Singapore Prison Service": "SPS",
    "Singapore Tourism Board": "STB",
    "Skillsfuture Singapore": "SSG",
    "Urban Redevelopment Authority": "URA",
    "Workforce Singapore": "WSG",
    "Yellow Ribbon Singapore": "YRSG",
    "Civil Service College": "CSC",
    "Iseas - Yusof Ishak Institute": "ISEAS",

    #Councils
    "National Arts Council": "NAC",
    "National Council Of Social Service": "NCSS",
    "National Youth Council": "NYC",

    #IHLs
    "Institute Of Technical Education": "ITE",
    "Temasek Polytechnic": "TP",
    "Nanyang Polytechnic": "NYP",
    "Ngee Ann Polytechnic": "NP",
    "Republic Polytechnic": "RP",
    "Singapore Polytechnic": "SP",
    "National University Of Singapore": "NUS",
    "Nanyang Technological University": "NTU",
    "Singapore Management University": "SMU",
    "Singapore Institute Of Technology": "SIT",
    "Singapore University Of Technology And Design": "SUTD"
}